name: build-test

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: clippy
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly
          components: rustfmt
      - name: Build
        run: cargo build
      - name: Run tests
        run: cargo test
      - name: Format
        run: cargo +nightly fmt --all -- --check
      - name: Clippy
        run: cargo clippy -- -D warnings